<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script src="https://kit.fontawesome.com/528d062d85.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrap text-light bg-secondary">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">PHP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/debug">Debug</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/basket/">
                            <i class="fas fa-shopping-basket"></i>
                            <span class="badge badge-light">{{ basketCount }}</span>
                        </a>
                    </li>
                </ul>
               <div>
                   {% if userName %}
                       Hello, {{ userName }}!
                       <a href="/user" class="btn btn-outline-light btn-sm" role="button" aria-pressed="true">Account</a>
                       <a href="/user/logout" class="btn btn-outline-light btn-sm" role="button" aria-pressed="true">Logout</a>
                   {% else %}
                       <a href="/user/login" class="btn btn-outline-light btn-sm" role="button"
                          aria-pressed="true">Login</a>
                   {% endif %}
               </div>
            </div>
        </nav>
    </header>

    <main class="content py-5">
        <div class="container">
            {{ content | raw }}
        </div>
    </main>
</div>
<footer class="footer text-light bg-dark">

</footer>
</body>
</html>